@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    width: relative;
}

section#telefone {
    height: 627px;
    width: 311px;
    position: absolute;
    background: url(../imagens/frame-iphone.png) no-repeat;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    height: 473px;
    width: 269px;
}

section#redes-sociais {
    width: 50px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 90%;
}

section#redes-sociais > a > img {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
}
section#redes-sociais > a > img:hover {
    border: 2px solid rgba(255, 255, 255, 0.637);
    border-radius: 50%;
    transform: translate(-3px, -3px);
    transition: tranform 0.5s, border 0.5s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
}